# Игнорирование директорий и файлов созданых Pycharm
.idea/
*.iml

# Игнорирование дирикторий и файлов созданых Python
__pycache__/
*.py[cod]
*$py.class

# Игнорирование логов и временных файлов
*.log
*.tmp
*.swp

# Игнорирование виртульных окружений
venv/
ENV/
env/
.venv/

# Игнорирование конфигураций и зависимостей
*.env
*.DS_Store
